body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;  
}

.container {
    display: block;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    justify-self: center
}

h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
}

.level {
    font-size: 18px;
    color: #007BFF;
    font-weight: bold;
}

.logo {
    display: grid;
    width: 300px;
    gap: 5px;
    grid-template-columns: auto auto;
}

.profile-card .logo img {
    width: 50px;
    height: 50px;
}

.profile-card img {
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 300px;
    height: 60px;
    background-color: black;
    
}

.button h4 {
    color: white;
}